
<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
      <% include ../static/partials/navbar.ejs %>

    <main class="container-fluid">
      <!--Image-->
        <div class="responsive-image-2">
          <img src="../img/how-it-works/infographic.jpg" alt="how it works" class="responsive">
          </div>
      
          <section class="row text-center">

          <section class="col-lg-12";>
              <h4 class="card-title">We source ugly produce directly from farms.</h4>
              <p class="card-text">Approximately 20% of fruits and vegetables in the U.S. never leave the farm just because they look a little different. Instead of ending up on your dinner plate, they end up left in the field or trucked to landfill. We think that’s crazy, and we’ve built a network of over 150 farmers and producers who agree. We buy their unloved produce, and they’re rewarded for their full harvest–not just for the pretty stuff.
                </p>
          </section>

          <section class="col-lg-12";>
              <h4 class="card-title">We deliver your box to your home.</h4>
              <p class="card-text">Shortly after you’ve chosen your produce for the week and finalized your perfect box, our drivers drop it off with a smile at your doorstep. To minimize our carbon footprint and make sure you get your produce on time, you’re assigned a delivery day based on your neighborhood. Don’t worry though–you don’t have to be home to receive a delivery. You can leave us detailed directions on where to leave your box until you can bring it safely inside.</p>
          </section>

          <section class="col-lg-12";>
              <h4 class="card-title">You enjoy healthy, delicious produce and save money!</h4>
              <p class="card-text">Everyone wins! The farmer is rewarded for his full harvest, the food and the resources used to grow it weren’t wasted, and you get delicious, healthy, affordable fruits and veggies. What’s not to love?</p>
          </section>

          <section class="col-lg-12">
              <img src="../img/how-it-works/boxofproduce.jpg" style="width:75%; height:auto;" alt="box of imperfect produce" class="responsive">
            </section>

        </section>
    </main>
  </body>
  <footer>
      <% include ../static/partials/footer.ejs %>
  </footer>
</html>