
<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <main class="container-fluid">
      <% include ../static/partials/navbar.ejs %>

      <h1>TEST FOR HOW IT WORKS</h1>

    </main>
  </body>
  <footer>
      <% include ../static/partials/footer.ejs %>
  </footer>
</html>