<div class="container-fluid">
    <section class="row">

        <!--Column 1-->
        <section class="col-lg-2">
            <!--Lemon Image Here-->
                <img src="../img/veggie-images/LemonWithEyes.jpg" width="150px" height: "150px" alt=""/>
        </section>

        <!--Column 2-->
        <section class="col-md-4 py-5 column text-center">
            <!--Social Media Icons Here-->
            <h7 class="social-media-text">FOLLOW US</h7>
                    <div class="mb-5 flex-center">
          
                      <!-- Facebook -->
                      <a class="fb-ic">
                        <i class="fa fa-facebook fa-lg bg-white text-dark mr-md-5 mr-3 fa-2x"> </i>
                      </a>
                      <!-- Twitter -->
                      <a class="tw-ic">
                        <i class="fa fa-twitter fa-lg bg-white text-dark mr-md-5 mr-3 fa-2x"> </i>
                      </a>
                      <!--Instagram-->
                      <a class="ins-ic">
                        <i class="fa fa-instagram fa-lg bg-white text-dark mr-md-5 mr-3 fa-2x"> </i>
                      </a>
                      <!--Pinterest-->
                      <a class="pin-ic">
                        <i class="fa fa-pinterest fa-lg bg-white text-dark fa-2x"> </i>
                      </a>
                    </div>
        </section>

        <!--Column 3-->
        <section class="col-lg-6 text-right" style="width: 18rem;">
            <!--Newsletter Sign Up Here-->
            <h7 class="newsletter-text">
                DON'T MISS A BEET! SIGN UP FOR OUR NEWSLETTER!
            </h7>
            <form class="input-group">
                <input type="text" class="form-control form-control-sm" placeholder="Your email address" aria-label="Your email" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-sm btn-light" type="button">Sign up</button>
                </div>
              </form>
        </section>
    </section>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
</div>

