body {
    padding-top: 54px;
  }

.jumbotron-fluid-1 {
  background: url("../img/veggie-images/veggie-background.jpg") no-repeat center center;
  height: 100%;
  width: auto;
}

.jumbotron-fluid-2{
  background: url("../img/why-imperfect/why-imperfect.jpg") no-repeat fixed center;
  
}

.responsive {
  max-width: 100%;
  height: auto;
}