body {
    padding-top: 54px;
  }

  /* Homepage Jumbotron */
.jumbotron-fluid {
  background: url("../img/veggie-images/veggie-background.jpg") no-repeat center;
  max-width: 100%;
  height: 400px;
  background-size: cover;
}
.jumbotron .header {
  position: relative;
}

/* Why and How Images */
.responsive {
  max-width: 100%;
  height: auto;
}

.banner-content {
width: 100%;
height: auto;
background: url("../img/preferences/preferences-banner.jpg");
background-repeat: no-repeat;
background-size: cover;
color: white;
margin-top: 35px;

}