<!DOCTYPE html>
<html lang="en">
    <head>
        <% include ../static/partials/head.ejs %>
    </head>
    <body>
        <!-- Navigation-->
        <% include ./partials/navbar.ejs %>

        <!-- Page Content-->
        <main class="container-fluid">

             <!-- Jumbotron Header and Backbround Image-->
                <header class="jumbotron jumbotron-fluid-1">
                    <h1 class="display-3"> <%= title %> </h1>
                    <p class="lead">Solving the nations food waste problem.</p>
                    <a href="#" class="btn btn-primary btn-lg">Sign Up</a>
              </header>

              <!--Page Features-->
              <!--First Row-->
              <section class="row text-center">
                  <section class="col-lg-12">
                      <h3 class="card-title">Our community is changing the world!</h3>
                  </section>
                  </section>

                  <!--Second Row-->
                  <section class="row text-center">
                  <section class="col-lg-6">
                      <h4 class="card-title">30M</h4>
                      <p class="card-text">POUNDS OF FOOD SAVED</p>
                  </section>
                  <section class="col-lg-6">
                        <h4 class="card-title">900M</h4>
                        <p class="card-text">GALLONS OF WATER SAVED</p>
                  </section>
                </section>

                  <!--Third Row-->
                  <section class="row text-center">
                  <section class="col-lg-6">
                        <h4 class="card-title">$12M</h4>
                        <p class="card-text">DOLLARS SAVED ON GROCERIES</p>
                  </section>
                  <section class="col-lg-6">
                        <h4 class="card-title">91M</h4>
                            <p class="card-text">POUNDS OF C02 SAVED</p>
                  </section>
                </section>
            
                <!--Final Row-->
                <section class="row text-center">
                  <section class="col-lg-12">
                      <h7 class="card-title">Fact: 1 in 5 fruits and veggies grown in the U.S. don't meet cosmetic standards - the crooked carrot, the curvy cucumber, the undersized apple - usually causing them to go to waste. We're here to change that.</h7>
                      <p class="card-text">
                          <a href="#" class="btn btn-primary btn-lg" role="button">Make An Impact!</a>
                      </p>
                  </section>
                </section>
                <!-- End Row-->
              </section>
            </main>
            <!-- End Container-->

            <% include ./partials/baseScripts.ejs %>
    </body>
    <footer class="page-footer">
        <% include ../static/partials/footer.ejs %>
    </footer>
</html>