<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
      <!--Navigation-->
    <% include ../static/partials/navbar.ejs %>

    <!--Page Content-->
    <main class="container-fluid">

        <!--Jumbotron Header and Background Image-->
      <div class="jumbotron jumbotron-fluid-2">
        <!--Img url in application.css-->
      </div>

      <section class="row">
          <!--Column 1-->
          <section class="col-lg-12">
              <h4 class="card-title">Imperfect.</h4>
              <p class="card-text">We know, it can be a confusing term when applied to our favorite foods. What makes a piece of produce Imperfect, anyway? Here are some of the most common reasons that perfectly good fruits and vegetables get rejected by grocery stores and end up going to waste (unless they end up in your Imperfect box!).</p>
          </section>

          <!--Column 2-->
          <section class="col-lg-4">
          </section>

          <!--Column 3-->
          <section class="col-lg-4">
          </section>

          <!--Column 4-->
          <section class="col-lg-4">
          </section>
      </section>

    </main>
  </body>
  <footer>
      <% include ../static/partials/footer.ejs %>
  </footer>
</html>