<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
      <!--Navigation-->
    <% include ../static/partials/navbar.ejs %>

    <!--Page Content-->
    <main class="container-fluid">

        <!--Jumbotron Header and Background Image-->
      <div class="jumbotron jumbotron-fluid-2">
        <!--Img url in application.css-->
      </div>

      <section class="row">
          <!--Column intro text-->
          <section class="col-lg-12";>
              <h4 class="card-title">Imperfect.</h4>
              <p class="card-text">We know, it can be a confusing term when applied to our favorite foods. What makes a piece of produce Imperfect, anyway? Here are some of the most common reasons that perfectly good fruits and vegetables get rejected by grocery stores and end up going to waste (unless they end up in your Imperfect box!).</p>
          </section>

          <!--Column why 1-->
          <section class="col-lg-4">
            <section class="row-lg-4">
                <img src="../img/why-imperfect/smallonions.jpg" width="250px" height: "250px" alt="imperfect small onion photo example"/>
            </section>
            <section class="row-lg-4">
              <h4 class="card-number">1</h4>
              <h5 class="card-title">SIZE </h5>
                <h5 class="card-title">TOO SMALL, TOO BIG, TOO VARIED</h5>
              
              <p class="card-text">Like a produce Goldilocks, supermarkets reject tons of produce for being too small or too large for their standards. We happily source the tiny avocados and cannon-ball sized onions of the world because they taste the same and are just as easy to cook with as “normal” sized produce.</p>
            </section>
          </section>

          <!--Column why 2-->
          <section class="col-lg-4">
              <section class="row-lg-4">
                  <img src="../img/why-imperfect/wonkypepper.jpg" width="250px" height: "250px" alt="imperfect wonky bell pepper photo example"/>
              </section>
              <section class="row-lg-4">
                  <h4 class="card-number">2</h4>
                  <h5 class="card-title">ASYMMETRY </h5>
                    <h5 class="card-title">TOO MISSHAPEN</h5>
                  <p class="card-text">Supermarkets want produce that fits evenly into display cases so they can build symmetrical pyramids to entice buyers. This desire for symmetry means that oddly-shaped produce is deemed inferior. </p>
                </section>
          </section>

          <!--Column why 3-->
          <section class="col-lg-4">
              <section class="row-lg-4">
                  <img src="../img/why-imperfect/scarringorange.jpg" width="250px" height: "250px" alt="imperfect scarred orange photo example"/>
              </section>
              <section class="row-lg-4">
                  <h4 class="card-number">3</h4>
                  <h5 class="card-title">SCARRING</h5>
                   <h5 class="card-title">TOO MANY MARKS ON THE SKIN/PEEL</h5>
                  <p class="card-text">Supermarkets want to buy produce that looks beautiful and unblemished on the outside, which means that scarred fruits and vegetables often go to waste. Apples with hail damage, pears that brush up against a branch in the wind, and oranges that have had a rough winter don’t make it to stores.</p>
                </section>
          </section>
      </section>
    

    </main>
  </body>
  <footer>
      <% include ../static/partials/footer.ejs %>
  </footer>
</html>